@import url('https://fonts.googleapis.com/css2?family=Kameron:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kameron:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
:root {

    --colorazulclaro: #4E6CD7;
    --colorblanco: #FFFFFF;
    --colorverde: #018A38;
    --colornegro: #101111;
    --colorazuloscuro: #283479;
    --colorverdeclaro: #00FF66;
    --colorazul: #0026FF;
    --colorverdeagua: #C6F5D9;
    
    --fontArchivoBlack: "Archivo Black", sans-serif;
    --fontkameron: "Kameron", serif;
    --fontNovaRound: "Nova Round", system-ui;
    --fontnunito: "Nunito", sans-serif;
    --fontSquadaOne: "Squada One", sans-serif;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: var(--fontkameron);
    font-size: 16px;
}

.container {
    max-width: 1440px;
    margin: 0px auto;
    padding: 80px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    text-transform: uppercase;
}

/* Tamaño */
h1 {
    font-size: 3.5rem;
    font-family: var(--fontNovaRound);
    color: rgb(38, 41, 40);
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
    font-family: var(--fontSquadaOne);
    color: var(--colorazuloscuro);
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.5rem;
    font-family: var(--fontNovaRound)

}

h6 {
    font-size: 1.25rem;
    font-family: var(--fontArchivoBlack);
}

p {
    font-size: 1rem;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    padding: 5px 25px;
    border-radius: 50px;
    background-color: transparent;
    font-size: 1.25rem;
    font-weight: 700;
}

.btn1 {
    background-color: var(--colorverde);
    color: var(--colorblanco);
    border: 2px solid var(--colorverde);
}

.btn1:hover {
    background-color: var(--colorverdeclaro);
    color: var(--colorazul);
    border: 2px solid var(--colorverdeclaro);
}

.btn2 {
    background-color: var(--colorazuloscuro);
    color: var(--colorblanco);
    border: 2px solid var(--colorazuloscuro);
}

.btn2:hover {
    background-color: var(--colorverdeclaro);
    color: var(--colorazul);
    border: 2px solid var(--colorverdeclaro);
}

.btn3 {
    background-color: var(--colorazul);
    color: var(--colorblanco);
    border: 2px solid var(--colorazul);
}

.btn3:hover {
    background-color: var(--colorverdeclaro);
    color: var(--colorazul);
    border: 2px solid var(--colorverdeclaro);
}

.grid_2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 80px ;
}