@import url(styles.css);

.foto_portada {
    /*justify-content: center;*/
    display: flex;
    width: auto;
    height: 100%;
    
    & img {
        width: auto;
        height: 500px;
        border-radius: 25px;
    }
}

.textos_portada {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: left;

    & h1 {
        color: var(--colorazul);
    }
}

.destacados_titulo h3 {
    text-align: center;
    color: var(--colorverde);
    padding-bottom: 80px;
    padding: 80px;
}

.destacado {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

}

.destacados_foto img {
    width: 100%;
    height: auto;
}

#portada2 {
    background-image: url("../image/n-foto.png");
    background-size: cover;
    background-position: center;
}

.portada2 {
    height: 252px;
}

.portada2_titulo h3 {
    text-align: center;
    position: center;
    width: 800px;
    margin: 30px auto;
    color: var(--colorazuloscuro);
}

.boton_portada2 {
    position: absolute;
    padding: 5px;
    left: 40%;
}

.blogs_titulo h3 {
    text-align: center;
    color: var(--colorverde);
    padding-bottom: 80px;

}

.blog {
    position: relative;
    display: flex;
   
    & .blog_foto img {
        width: 100%;
        height: auto;

    }

    & .boton_blog {
        position: absolute;
        bottom: 5%;
        left: 25%;
        padding: 90px;
    }
}
.producto {
    position: relative;
    display: inline-block;

    & .foto_producto {
        width: 100%;
        height: auto;
    }

    & .boton_producto {
        position: absolute;
        bottom: 0%;
        left: 20%;
        padding: 25px;
    }
}